<div class="container" *ngIf="product">
    <div class="row">
        <div class="col-md-4">
            <img [src]="'http://localhost:3000/'+product.image" class="img-fluid">
        </div>
        <div class="col-md-8">
            <mat-card>
                <mat-card-content class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="display-4">{{product.name}}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="display-4"><strong>{{product.price}}</strong></p>
                        </div>
                    </div>
                    <hr>
                    <p class="h4">{{product.category}}</p>

                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let desc of product.description">
                        <p class="h6">{{desc[0] }} : {{desc[1]}}</p>
                        </li>
                        </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <app-review [product_id]="product._id" [reviews]="reviews" [myreview]="userreview"></app-review>
</div>