<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div data-aos="zoom-out-left" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;assets/homepage/img/bg-showcase-4.jpg&quot;);background-size: contain;"><span></span></div>
            <div data-aos="zoom-out-right" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h1>Television</h1>
                <p class="lead mb-0"></p>
            </div>
        </div>
        <div class="row no-gutters">
            <div data-aos="zoom-out-right" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;assets/homepage/img/bg-showcase-5.jpg&quot;);"><span></span></div>
            <div data-aos="zoom-out-left" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h1>Coffe Maker</h1>
                <p class="lead mb-0"></p>
                
            </div>
        </div>
        <div class="row no-gutters">
            <div data-aos="zoom-out-left" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 order-lg-2 text-white showcase-img text-center" style="background-image:url(&quot;assets/homepage/img/bg-showcase-6.jpg&quot;);"><span></span></div>
            <div data-aos="zoom-out-right" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h1>Sandwich Maker</h1>
                <p class="lead mb-0"></p>
                
            </div>
        </div>
    </div>
   
</section>