<div class="container mt-5">
    <mat-card>
        <mat-card-content class="card-body">
            <label class="text-center mt-5">Enter registered email</label>
            <input class="form-control col-md-3 mt-2" #email>
            <button class="btn btn-primary mt-4" (click)="sendOTP(email.value)">send OTP</button>
        </mat-card-content>
    </mat-card>
</div>


<!-- <mat-card>
    <mat-card-content class="card-body">
        <label class="text-center mt-5">Enter OTP</label>
        <input class="form-control col-md-3 mt-2" #otp>
        <button class="btn btn-primary mt-4" (click)="matchOTP()">Enter</button>
        <input class="form-control col-md-3" #password>
    </mat-card-content>
</mat-card> -->


<div class="container" style="margin-top: 4rem;">
    <mat-card>
        <mat-card-content>
            <h1 class="text-center">Reset your password!</h1>
            <hr>
            <form [formGroup]="resetForm" (submit)="resetPassword(resetForm.value)"> 
                
                <mat-label> Enter OTP</mat-label>
                <input formControlName="otp">
                
                <mat-label> Enter new Password</mat-label>
                <input formControlName="password">
                
                <mat-label> Confirm new password</mat-label>
                <input formControlName="confirm">

                <button class="btn btn-outline-dark">Save</button>
                
            </form>
         </mat-card-content>
    </mat-card>
</div>
