<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
                <mat-card>
                    <mat-card-content class="card-body">
                        <p class="h4 text-center">Enter Product Details</p>
                        <hr>
                        <div class="row mt-4">
                            <div class="col-md-8" style="border-right: 1px solid rgb(228, 228, 228);">
                                <form [formGroup]="productform" (submit) = "userSubmit(productform.value)">
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="Name" formControlName="prodname">
                                        <fa-icon [icon]="box" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().prodname.error">Name required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="Price" formControlName="prodprice" type="number">
                                        <fa-icon [icon]="money" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().prodprice.error">Price required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="Category" formControlName="prodcat">
                                        <fa-icon [icon]="dice" matSuffix></fa-icon>
                                        <mat-error *ngIf="getControl().prodcat">Category required</mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="col-md">
                                        <input matInput placeholder="Brand" formControlName="prodbrand">
                                        <mat-error *ngIf="getControl().prodcat">Brand</mat-error>
                                    </mat-form-field>

                                    <!-- <mat-form-field class="col-md">
                                        <textarea matInput placeholder="Description" formControlName="proddesc"></textarea>
                                        <mat-error *ngIf="getControl().proddesc">Description required</mat-error>
                                    </mat-form-field> -->
 
                                    <button mat-raised-button color="primary" class="mt-5 btn-block">Add Product</button>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <input type="file" (change)="onFileChange($event)" #fileInput multiple>
                                <div class="text-center">
                                    <img [src]="imgURL" class="img-fluid" style="height: 15rem;">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-5" *ngFor="let desc of description;let i = index">
                            <div class="col-md-4">
                                <input class = "form-control" [(ngModel)] = "desc[0]">
                            </div>
                            <div class="col-md-4">
                                <input class = "form-control" [(ngModel)] = "desc[1]">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-block" (click)="removeDescription(i)" >
                                    <fa-icon [icon]="delete" matSuffix></fa-icon>
                                </button>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-5" (click)="addDescription()">Add Description</button>
                    </mat-card-content>
                </mat-card>

                
                <mat-card>
                    <mat-card-content>
                        <form [formGroup]="detailsForm" >
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Heading</label>
                                    <input class="form-control" formControlName="head1">

                                    <label>Desc</label>
                                    <textarea class="form-control" rows="5" formControlName="desc1"></textarea>
                                </div>

                                <div class="col-md-6">
                                    <label>Heading</label>
                                    <input class="form-control" formControlName="head2">

                                    <label>Desc</label>
                                    <textarea class="form-control" rows="5" formControlName="desc2"></textarea>
                                </div>
                            </div>

                            <input type="file" (change)="onFileChange2($event)" multiple>
                        </form>
                    </mat-card-content>
                </mat-card>

        </div>
    </div>
</div>