<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div data-aos="zoom-out-left" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;assets/homepage/img/bg-showcase-1.jpg&quot;);"><span></span></div>
            <div data-aos="zoom-out-right" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h1>Apple</h1>
                <p class="lead mb-0">And then there was Pro.
                    A transformative triple‑camera system. An unprecedented leap in battery life. Welcome to the first iPhone powerful enough to be called Pro.</p>
                <a class="elem" (click)="browse('Phone','Apple')">Shop Now ></a>
                
            </div>
        </div>
        <div class="row no-gutters">
            <div data-aos="zoom-out-right" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;assets/homepage/img/bg-showcase-3.jpeg&quot;);"><span></span></div>
            <div data-aos="zoom-out-left" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h1>OnePlus</h1>
                <p class="lead mb-0">120 Hz Fluid Display
                    Qualcomm® Snapdragon™ 865 and 5G
                    Warp Charge 30 Wireless
                    48 MP Quad Camera</p>
                <a class="elem" (click)="browse('Phone','OnePlus')">Shop Now ></a>
                
                
            </div>
        </div>
        <div class="row no-gutters">
            <div data-aos="zoom-out-left" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 order-lg-2 text-white showcase-img text-center" style="background-image:url(&quot;assets/homepage/img/bg-showcase-2.jpg&quot;);"><span></span></div>
            <div data-aos="zoom-out-right" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h1>Samsung</h1>
                <p class="lead mb-0">This is the phone that will change photography.

                    Meet Galaxy S20, S20+, and S20 Ultra. With revolutionary 8K Video Snap, 5G. The Galaxy S20 series unveils a whole new world.</p>
                
                <a class="elem" (click)="browse('Phone','Samsung')">Shop Now ></a>
                
            </div>
        </div>
    </div>
   
</section>