<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div data-aos="zoom-out-left" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;assets/homepage/img/bg-showcase-7.jpg&quot;);"><span></span></div>
            <div data-aos="zoom-out-right" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h1>Headphones</h1>
                <p class="lead mb-0"></p>
                <a class="elem" (click)="browse('Headphones','')"><h5>Shop Now ></h5></a>
            </div>
        </div>
        <div class="row no-gutters">
            <div data-aos="zoom-out-right" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;assets/homepage/img/bg-showcase-9.jpg&quot;);"><span></span></div>
            <div data-aos="zoom-out-left" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h1>Apple Watches</h1>
                <p class="lead mb-0"></p>
                <a class="elem" (click)="browse('Smartwatch','')"><h5>Shop Now ></h5></a>
                
            </div>
        </div>
        <div class="row no-gutters">
            <div data-aos="zoom-out-left" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 order-lg-2 text-white showcase-img text-center" style="background-image:url(&quot;assets/homepage/img/bg-showcase-8.jpg&quot;);"><span></span></div>
            <div data-aos="zoom-out-right" data-aos-duration="1000" data-aos-offset="300" class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h1>Assistant Speakers</h1>
                <p class="lead mb-0"></p>
                <a class="elem" (click)="browse('Assistant Speakers','')"><h5>Shop Now ></h5></a>
            </div>
        </div>
    </div>
   
</section>