html{
    height: 100%;
}
/* .bg-rg{ */
    /* background-image: url('assets/background-3126537_1920.jpg'); */
    /* background-repeat: no-repeat; */
/* } */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-p{
    background-image: url('assets/background-3126537_1920.jpg');
    background-repeat: center;
}